//######################
// ABOUT 
//######################
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* COLOR PALETTE 
LIGHT BROWN: #F0DAC5
NAVY BLUE: #1C2340
MAGENTA: #50223C
*/


.about-container {
  font-family: 'Lato';
  align-items: center;   
  padding-top: 7%;
  width: 100%;
  background-color: #F0DAC5;
  padding-bottom: 3%;
  height: 80vh;
  }
  
  
.about {
    text-align: center;
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
    vertical-align: center;
    .blurb {
        line-height: 40px;
        vertical-align: center;
        font-size: 18px;
        width: 45%;
        padding-left: 3%;
        padding-top: 3%;
        position: relative;
        a {
          color: #1C2340;
          text-decoration: none;
        }
        a:hover {
            color: #50223C;
            font-style: italic;
        }
    }
    .image {
      margin-left: 4%;
      width: 45%;
      position: relative;
      img {
        width: 70%;
      }
    }
  }

  .about-middle-divider {
    border: 3px solid #50223C;
  }

  .bottom-border {
    border: 3px solid #50223C;
  }

  #link_projects {
    color: #50223C;
  }


//////////////////////////////////////////
//*** MEDIA QUERIES
//////////////////////////////////////////

// ********* IPHONE X PORTRAIT ******** //
@media only screen and (max-width: 700px) {
    .about-container {
      // height: 60vh;
    }
    
    .about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    text-align: center;
    // width: 100%;
    .blurb {
      line-height: 25px;
      width: 80%;
      padding-top: 10%;
    }
    .image {
      width: 80%;
    }
  }
    a {
    color: #1C2340;
    text-decoration: none;
  }
    a:hover {
        color: #50223C;
        font-style: italic;
    }
}





