//######################
// ABOUT 
//######################
// main div > 'title'
// container div > 'about-information'
// left div bio > 'about-bio'
// left div icons > 'social-icons'
/* COLOR PALETTE 
ADOBE = #8B5D41
PINE = #555548
SAGE = #C5C4B2
PUEBLO = #D2BEB0
CLAY = #D0C6BC
SAND = #E8E4E0
*/


.about-container {
    align-items: center;   
    padding-top: 3%;
    width: 100%;
    background-color: #C5C4B2;
    padding-bottom: 3%;
    height: 50%;
  }
  
  
.about {
    text-align: center;
    padding-bottom: 2%;
    margin-left: 12%;
    display: flex;
    flex-direction: row;
    vertical-align: center;
    .blurb {
        line-height: 35px;
        width: 35%;
        padding-top: 16%;
        padding-left: 3%;
        position: relative;
    }
    .image {
      width: 45%;
      position: relative;
      img {
        width: 80%;
      }
    }
  }

  .about_me {
    height: 30%;
    line-height: 35px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
  }

  

//////////////////////////////////////////
//*** MEDIA QUERIES
//////////////////////////////////////////

// ********* IPHONE X PORTRAIT ******** //
@media only screen and (max-width: 550px) {
    .about-container {
      // height: 60vh;
    }
    
    .about {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    text-align: center;
    // width: 100%;
    .blurb {
      line-height: 25px;
      width: 80%;
      padding-top: 10%;
    }
    .image {
      width: 80%;
    }
  }
}





