//######################
// ABOUT 
//######################
// main div > 'title'
// container div > 'about-information'
// left div bio > 'about-bio'
// left div icons > 'social-icons'

.about-container {
    text-align: center;
    padding-top: 2%;
    height: 73vh;
  }
  
  
.social-photo {
    order: 1;
    width: 50%;
    margin-left: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    .bio {
        line-height: 35px;
    }
  }

  #bottom-border-about {
    width: 50%;
    height: 5px;
    margin-left: 25%;
    background: #8B5D41;
  }
  
