//######################
// CONTACT
//######################

/* COLOR PALETTE 
ADOBE = #8B5D41
PINE = #555548
SAGE = #C5C4B2
PUEBLO = #D2BEB0
CLAY = #D0C6BC
SAND = #E8E4E0
RUST: = #A13D2D
*/

#contact-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    a {
        color: #8B5D41;
        text-decoration: none;
    }
    a:hover {
        color: #555548;
        font-style: italic;
    }
}



