.footer {
    text-align: center;
    background-color: #D0C6BC;
    padding-top: 5%;
    padding-bottom: 0.5%;
    color: #555548;
    margin-top: 8%;
}

.social-icons {
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    a {
        color: #555548;
    }
    a:hover {
        color: #555548;
        font-style: underline;
    }
}


@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  .footer {
      h2 {
          font-size: 24px;
      }
  }
}