@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* COLOR PALETTE 
LIGHT BROWN: #F0DAC5
NAVY BLUE: #1C2340
MAGENTA: #50223C
*/


.footer {
    height: 15vh;
    padding-top: 45%;
    text-align: center;
    background-color: #F0DAC5;
    color: #555548;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    a {
        color: #555548;
    }
    a:hover {
        color: #555548;
        font-style: underline;
    }
}


@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  .footer {
      h2 {
          font-size: 18px;
      }
  }
}