// Class Name in Header & Navigation Components

// header
// nav
// #nav-component

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

.header {
    text-align: center;
    background-color: #D2BEB0;
    height: 20vh;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .name > h1 {
        font-family: 'Lora', serif;
    }
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 1%;
    div {
        a {
            color: #8B5D41;
            text-decoration: none;
        }
    }
}

