// Class Name in Header & Navigation Components

// header
// nav
// #nav-component

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

.header {
    text-align: center;
    // background-color: #D2BEB0;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    vertical-align: center;
    .name > h1 {
        font-family: 'Lora', serif;
        padding-right: 3%;
    }
}

.nav {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 1%;
    div {
    vertical-align: center;
    padding-right: 5%;
        a {
            color: #8B5D41;
            text-decoration: none;
        }
    }
}



@media only screen and (max-width: 550px) {
    .nav {
        flex-direction: column;
    }
}