//######################
// PROJECTS
//######################

// main div > 'projects-container'
// each project div class > 'project container' id > 'project-NUMBER-container'

.title {
    h1 {
        text-align: center;
        padding-bottom: 10%;
    }
}

.projects-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container {
    width: 100%;
}

.accordion-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.accordion-collapse {
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
        img {
            width: 50%;
        }
    }
}

