//######################
// PROJECTS
//######################

// main div > 'projects-container'
// each project div class > 'project container' id > 'project-NUMBER-container'

.title {
    h2 {
        text-align: center;
        padding-top: 2%;
    }
}

.projects-main {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    .projects-container {
        height: 100%;
        padding-bottom: 25%;
        display: grid;
        justify-content: center;
        grid-template-columns: 40% 5% 40%;
        grid-template-rows: 45% 45% 45%;
        row-gap: 1%;
        #container0 {
            grid-column: 1/4;
            grid-row: 1/2;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: space-around;
        }
        #container1 {
            grid-column: 1/4;
            grid-row: 2/3;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: space-around;

        }
        #container2 {
            grid-column: 1/4;
            grid-row: 3/4;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: space-around;
        }
    }
}


#card1 {
    order: 2;
}

#info0, #info2 {
    padding-left: 5%;
}

#info1 {
    order: 1;
    padding-right: 5%;
}

// ********* IPHONE X PORTRAIT ******** //

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .projects-main {
        padding-top: 5%;
        .projects-container {
            grid-template-columns: 100%;
            grid-template-rows: 35% 35% 35%;
            #container0, #container1, #container2 {
                grid-column: 1/2;
                grid-row: 1/2;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            #container0 {
                grid-row: 1/2;
            }
            #container1 {
                grid-row: 2/3; 
            }
            #container2 {
                grid-row: 3/4;
            }
        }
    }

    .project-card {
        width: 100%;
        img {
            width: 100%;
        }
    }

    .project-info {
        padding-top: 3%;
        width: 100%;
        div {
            width: 100%;
            text-align: center;
        }
    }

    #card1 {
        order: 1;
    }

    #info0, #info1, #info2 {
        padding-left: 1%;
        padding-right: 1%;
    }


}



