/* COLOR PALETTE 
ADOBE = #8B5D41
PINE = #555548
SAGE = #C5C4B2
PUEBLO = #D2BEB0
CLAY = #D0C6BC
SAND = #E8E4E0
*/


.skills-container {
  h1 {
      text-align: center;
  }
  width: 45%;
  .skills-education-resume {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .buttons {
        display: flex;
        justify-content: space-around;
        .button {
          border-radius: 5%;
        }
      }
  }
}



.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hide {
  color: purple;
}

#show {
  color: orange;
}



